NODE_ENV=development
PORT=3000
CLIENT_ORIGIN=http://localhost:4200
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/hisync-chatapp?retryWrites=true&w=majority
JWT_ACCESS_SECRET=token65767645535343543353
JWT_REFRESH_SECRET=mytokeis6553354345354354
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
MAX_UPLOAD_SIZE_BYTES=5242880
BUCKET_NAME=<your-bucket-name>
AWS_ACCESS_KEY_ID=<tigris-access-key-id>
AWS_SECRET_ACCESS_KEY=<tigris-secret-access-key>
AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
AWS_REGION=auto
# For a public bucket, this can usually be derived as:
# https://<your-bucket-name>.t3.tigrisfiles.io
TIGRIS_PUBLIC_BASE_URL=<public-base-url-for-your-bucket>
