NODE_ENV=development
PORT=3000
CLIENT_ORIGIN=http://localhost:4200
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/hisync-chatapp?retryWrites=true&w=majority
JWT_ACCESS_SECRET=token65767645535343543353
JWT_REFRESH_SECRET=mytokeis6553354345354354
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
MAX_UPLOAD_SIZE_BYTES=5242880
